*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}    
body {
    font-family: "Lato" , sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.7;
    color: gray;
    padding: 30px;
}
header {
    background-image: url(../img/nike\ \(6\).jpg);
    background-size: cover;
    background-position: top;
    position: relative;
    height: 95vh;   
    clip-path: ellipse(65% 80% at 51% 19%);
}
.text-box {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.logo {
    height: 100px;
}
.logo-box {
    position: absolute;
    top: 30px;
    left: 30px;
}
.heading-primary {
    color: white;
    text-transform: uppercase;
    margin-bottom: 60px;
}
.heading-primary_main {
    display: block;
    font-size: 4.5rem;
    font-weight: 400;
    letter-spacing: 15px;
    animation: moveInRight 1s ease-out;
}
.heading-primary_sub {
    display: block;
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: 18px;
    animation: moveInLeft 1s ease-out;
}
.btn,
.btn:link,
.btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 15px 40px;
  display: inline-block;
  border-radius: 100px;
  font-size: 1.6rem;
  position: relative;
}
.btn {
    background-color: pink;
}
.btn:hover{
    transform: translateY(-3px);
    box-shadow: 0 5px 20px rgba(0, 0, 0, 2);
}
.btn:active {
    outline: none;
    transform: translateY(-1px);
    box-shadow: 0 5px 10px wheat;
}
.btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%; 
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 100px;
    z-index: -1;
    transition: 3s;
}
.btn-white::after {
    background-color: gray;
}
.btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}
.btn-animated{
    animation: moveInBottom .5s ease-out .75s;
    animation-fill-mode: backwards;
}
@keyframes moveInLeft {
    0%{
        opacity: 0;
        transform: translateX(100px);
    }
    80%{
        transform: translateX(10)
    }    
    100%{
        opacity: 1;
        transform: translate(0);
        }
}
@keyframes moveInRight {
    0%{
        opacity: 0;
        transform: translateX(-100px);
    }
    80%{
        transform: translateX(-10)
    }    
    100%{
        opacity: 1;
        transform: translate(0);
        }
}
@keyframes moveInBottom {
    0%{
        opacity: 0;
        transform: translateY(30px);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
        }
}
html{
    font-size: 42.5%;
    
}