$color-primary: #3452eb;
$color-primary-light: black;
$color-primary-dark: pink;
$color-blue:blue;
$color-gray:gray;
$color-green:green;
$grid-width:114rem;
$gutter-vertical:8rem;
$gutter-horizontal:6rem;
$color-grey-light-1: #f7f7f7;
$default-font-size:1.8rem;
$color-secondary-ligtht:#4d3d12;
$color-secondary-dark:#24120c;
$color-tertiary-ligtht:#03522a;
$color-tertiary-dark:#96050c;
