.skill-box{
    background-color: rgba($color: $color-gray, $alpha: 8);
    font-size: 1.5rem;
    padding:  2.5rem 2.5rem 5rem 2.5rem;
    border-radius: 5rem;
    box-shadow: 0 1.5rem 4rem rgba($color: $color-blue, $alpha: .15);
    transform: all .2s;
    text-align: center;

    &__icon{
        font-size: 6rem;
        margin-bottom: 1.5rem;
        display: inline-block;
        background-image: linear-gradient(to right, $color-primary-light ,$color-primary-dark);
        -webkit-background-clip: text;
        color: transparent;
    }

    &:hover{
        cursor: pointer;
        transform: translateY(-1.5rem) scale(1.03);

    }
}